.animation {
    max-width: 100%;
    position: relative;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
    top: 4rem;
    img {
        max-width: 100%;
    }
}