@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import "Cover.scss";
@import "NavBar.scss";
@import "GradientBkg.scss";
@import "Proposito.scss";
@import "Nosotros.scss";
@import "Animation.scss";
@import "Servicios.scss";
@import "PurpleCont.scss";
@import "CardTeam.scss";
@import "Valores.scss";
@import "Contacto.scss";
@import "Rueda.scss";
@import "Proceso.scss";
* {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//MIXINS
@mixin titulos {
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

html {
    scroll-behavior: smooth;
}

.padding {
    padding-left: 7%;
    padding-right: 7%;
}

h2 {
    border-radius: 10px!important;
}