.teamCardWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.teamCard{
    justify-content: center;
    width: 30%;
    .img{
        height: 680px;
        border-radius: 20px;}
    p{
        font-family: Asap;
        color: #FFFBEF;
        width: 100%;
        font-size: 32px;
        text-align: center;
        padding-left: 1.5%;
        padding-right: 1.5%;
        font-weight: bold;
        line-height: 37px;
        margin-top: 45px;
        margin-bottom: 10px;
    }
    a{
        width: 100%;
        text-align: center;
        height: 40px;
        margin-top: 10%;
        img{
            object-fit: contain;
            width: 100%;
            height: 40px;}}
}

.equipo{
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid #DBDBDF;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* justify-content: center; */
    margin-right: 10%;
    height: auto;

    .equipoWrap{
        margin-bottom: 8%;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    div h2{
        background-color: #FFB88F;
    }}

.memberInfo{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.marginbtm{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

@media(max-width: 600px){
    .teamCard{ 
        a{
            img{
                height: 32px!important;
            }
        }
        .img {
        height: 20vh!important;}}
    .memberInfo{
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
    }
    .equipo{
        padding-bottom: 3rem;
    }
    .valores{
        margin-bottom: 0px!important;
    }
}