.teamCardWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.teamCard{
    width: 30%;
    .img{
        height: 680px;
        border-radius: 20px;}
    p{
        font-family: Asap;
        color: #FFFBEF;
        width: 100%;
        font-size: 32px;
        text-align: center;
        padding-left: 1.5%;
        padding-right: 1.5%;
        font-weight: bold;
        line-height: 37px;
        margin-top: 45px;
        margin-bottom: 10px;
    }
    a{
        width: 100%;
        text-align: center;
        height: 80px;
        img{
            object-fit: contain;
        width: 100%;
        height: 80px;
        margin-bottom: 50px;}}
}

.equipo{
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid #DBDBDF;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* justify-content: center; */
    margin-right: 10%;
    height: auto;

    .equipoWrap{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    div h2{
        background-color: #FFB88F;
        width: 370px;
        text-align: center;
        font-family: Maven Pro;
        font-weight: bold;
        font-size: 60px;
        line-height: 128px;
        color: #1F1B34;
        margin-bottom: 50px;
    }}