.cover {
    top: 0;
    left: 0;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.coverImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slogan {
    font-family: 'Maven Pro', sans-serif;
    top: 80vh;
    color: #FFFBEF;
    position: absolute;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
    z-index: 10;
}

.fixedBtns {
    width: fit-content;
    top: 80vh;
    height: fit-content;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    right: 2rem;
}

.btnF {
    width: fit-content;
    img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-bottom: 1rem;
    }
}