.cover{
    top: 0;
    left: 0;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;}

    .coverImg{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }