.navBar{
    z-index: 3;
    position: fixed;
    top: 25px;
    height: 84px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(27, 19, 51, 0.7);
    
    .linksWrap{
        justify-content: space-between;
        width: 40%;
        display: flex;
        flex-direction: row;
        height: 40px;
        margin-top: 22px;}

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 63%;
        justify-content: space-around;}

    li a{
        font-family: 'Asap', sans-serif;
        color: $white;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        text-decoration: none;}

    .btnNav{
        font-size: 16px;
        background-color: transparent;
        width: 32%;
        height: 40px;
        color: $white;
        border: 2px solid $white;
        border-radius: 10px;
    }
    .btnNav a, .btnNav a:hover{
        text-decoration: none;
        font-family: 'Asap', sans-serif;
        font-size: 16px;
        height: 40px;
        color: $white;
    }
}

$white: #FFFBEF;

@media(max-width: 600px){
    .btnNav{
        display: none;
    }
    .navBar{
        flex-direction: column;
        padding-left: 0!important;
        padding-right: 0!important;
        height: auto!important;
    }
    .logoWrap{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 35px;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid white;
    }
    .logo{
        height: 35px;
    }

    .navBar .linksWrap {
        justify-content: space-around!important;
        width: 100%!important;
        margin-top: 10px;
        margin-bottom: 10px;}

    .navBar ul {
        width: 100%;
    li{
        text-align: center;
    }}

    .height{
        min-height: 80vh!important;
    }
}