.nosotros{
    margin-top: 12vh;
    margin-bottom: 12vh;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    div h2{
        background-color: #EE45DD;
    }
    p{
        font-family: 'Titillium Web', sans-serif;
        color: #FFFBEF;
        font-size: 30px;
        line-height: 60px;
        font-weight: 700;
    }
}