    .propositoLeft {
        width: 37.5vw;
        h2 {
            background-color: #16C7B2;
        }
        p {
            font-family: 'Titillium Web', sans-serif;
            color: #FFFBEF;
            font-size: 30px;
            line-height: 45px;
            font-weight: 700;
        }
    }
    
    .height {
        min-height: 80vh;
    }
    
    .proposito {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    
    .propositoRight {
        display: flex;
        justify-content: flex-end;
        img {
            position: relative;
            width: 600px;
            top: -18%;
        }
    }
    
    .titulo {
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
        margin-bottom: 45px;
        width: fit-content;
        color: #1B1333;
        font-family: 'Maven Pro', sans-serif;
        font-size: 60px;
        font-weight: 700;
    }
    
    @media(max-width: 1700px) {
        h2 {
            font-size: 40px!important;
            line-height: 75px!important;
        }
        p {
            font-size: 18px!important;
            line-height: 26px!important;
        }
        .img {
            height: 450px!important;
            a .logo-in {
                height: 50px!important;
            }
        }
        .send {
            height: 60px!important;
            font-size: 24px!important;
        }
        input {
            height: 30px!important;
            font-size: 24px!important;
            line-height: 28px!important;
            margin-bottom: 35px!important;
        }
        .nube {
            width: 150px!important;
            margin-bottom: 2rem;
            object-fit: contain!important;
        }
        .quoteCoverT {
            font-size: 11px!important;
            line-height: 25px!important;
        }
        .processTitle {
            font-size: 28px!important;
            line-height: 42px!important;
        }
        .valoresImg {
            width: 90%!important;
            margin-left: 5%!important;
        }
    }
    
    @media(max-width: 1250px) {
        .navBar .linksWrap {
            justify-content: space-between;
            width: 70%;
        }
        .img {
            height: 50%!important;
            object-fit: cover!important;
        }
    }
    
    @media(max-width: 1000px) {
        h2 {
            font-size: 28px!important;
            line-height: 40px!important;
        }
        p {
            font-size: 12px!important;
            line-height: 16px!important;
        }
        .cover {
            object-fit: cover!important;
            height: 100vh!important;
        }
        video,
        .animation img {
            height: 100%!important;
            overflow-x: hidden!important;
            object-fit: cover!important;
        }
        .proposito {
            flex-wrap: wrap!important;
            flex-direction: column!important;
            justify-content: space-between!important;
            display: flex!important;
            padding-top: 5vh!important;
        }
        .propositoRight,
        .propositoLeft {
            width: 100%!important;
        }
        .process,
        .valor {
            width: 48%!important;
        }
        .processTitle {
            font-size: 16px!important;
            line-height: 28px!important;
        }
        .img {
            max-height: 30vh!important;
        }
        .logo-in {
            max-height: 10vh!important;
            object-fit: contain!important;
        }
        .descFooterWrap {
            font-size: 9px!important;
        }
    }
    
    .propositoSm {
        display: none;
    }
    
    @media(max-width: 800px) {
        .send {
            height: 50px !important;
            font-size: 20px !important;
        }
        h2 {
            font-size: 22px!important;
            line-height: 30px!important;
        }
        .proposito {
            display: none!important;
        }
        .propositoSm {
            padding-top: 6rem;
            display: flex;
            flex-direction: column;
            .tituloWrap {
                width: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
                .propositoBg {
                    background-color: #16C7B2;
                }
            }
            img {
                height: 30vh;
                object-fit: contain;
                overflow-x: hidden;
            }
        }
        .mobileText {
            font-family: 'Titillium Web', sans-serif;
            color: #FFFBEF;
            font-size: 16px !important;
            line-height: 24px !important;
            font-weight: 700;
            text-align: center;
        }
        .slogan {
            font-size: 2rem;
        }
        .teamCardWrap {
            flex-direction: column!important;
        }
        .teamCard {
            width: 100%!important;
            display: flex!important;
            flex-direction: row!important;
            margin-top: 5%!important;
        }
        .fixedBtns {
            top: 82vh!important;
            right: 1rem!important;
        }
        .btnF img {
            width: 35px!important;
            height: 35px!important;
        }
        .descFooterWrap {
            padding-bottom: 25px!important;
        }
        .descFooter {
            display: block!important;
        }
        .contacto form {
            margin-bottom: 5rem!important;
        }
        .backTop {
            bottom: 6rem!important;
            right: 9rem!important;
        }
        .nosotros {
            width: 100%!important;
            margin-left: 0%!important;
        }
        input {
            font-size: 18px !important;
        }
    }