.propositoLeft{
    width: 37.5vw;

    h2{
        margin-bottom: 45px;
        width: fit-content;
        background-color: #16C7B2;
        color: #1F1B34;
        font-family: 'Maven Pro', sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 98px;
        padding-left: 32px;
        padding-right: 32px;
    }

    p{
        font-family: 'Titillium Web', sans-serif;
        color: #FFFBEF;
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
    }
}

.proposito{
    justify-content: space-between;
    display: flex;
    padding-right: 6.25vw;
    padding-left: 6.25vw;
    height: 90vh;
    padding-top: 25vh;
}


.propositoRight{
    img{
        position: relative;
        width: 600px;
        top: -18%;
    }
}

@media(max-width: 1700px){
    h2{
        font-size: 40px!important;
        line-height: 75px!important;
    }

    p{
        font-size: 22px!important;
        line-height: 26px!important;
    }

    .img{
        height: 450px!important;
    
    a .logo-in{
        height: 50px!important;
    }}

    .send{
        height: 60px!important;
        font-size: 24px!important;
    }

    input{
        height: 30px!important;
        font-size: 24px!important;
        line-height: 28px!important;
        margin-bottom: 35px!important;
    }

    .nube{
        width: 200px!important;
        object-fit: contain!important;
    }

    .quoteCoverT{
        font-size: 11px!important;
        line-height: 25px!important;
    }

    .processTitle{
        font-size: 28px!important;
        line-height: 42px!important;
    }

    .valoresImg{
        width: 90%!important;
        margin-left: 5%!important;
    }
}

@media(max-width: 1250px){
    .navBar .linksWrap{
        justify-content: space-between;
        width: 60%!important;}

    .img{
        height: 50%!important;
        object-fit: cover!important;
    }
}

@media(max-width: 1000px){
    h2{
        font-size: 28px!important;
        line-height: 40px!important;
    }

    p{
        font-size: 12px!important;
        line-height: 16px!important;
    }

    .cover{
        object-fit: cover!important;
        height: 100vh!important;
    }

    video, .animation img{
        height: 100%!important;
        overflow-x: hidden!important;
        object-fit: cover!important;
    }

    .proposito{
        flex-wrap: wrap!important;
        flex-direction: column!important;
        justify-content: space-between!important;
        display: flex!important;
        padding-top: 5vh!important;
    }

    .propositoRight, .propositoLeft{
        width: 100%!important;
    }

    .process, .valor{
        width: 48%!important;}

    .processTitle{
        font-size: 16px!important;
        line-height: 28px!important;
    }

    .teamCardWrap{
        flex-direction: column!important;
    }

    .teamCard{
        width: 100%!important;
        display: flex!important;
        flex-direction: row!important;
        margin-top: 5%!important;}

    .img{
        max-height: 30vh!important;
    }

    .logo-in{
        max-height: 10vh!important;
        object-fit: contain!important;
    }

    .descFooterWrap{
        font-size: 9px!important;
    }
}