.purpleBkg{
    top: -5px;
    background-color: #1F1B34;
    position: relative;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.descFooterWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 125px;
}