$white: #FFFBEF;

.quoteCover{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(196, 196, 196, 0.25);
    height: 25px;
    z-index: 3;
    padding-top: 2px;

    p{
        font-family: 'Asap', sans-serif;
        color: $white;
        font-size: 13px;
        line-height: 17px;
        margin-left: 27px;
    }
}