.rueda{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    object-fit: contain;
    .imgRueda{
        margin-right: 1.5%;
        margin-left: 1.5%;
        width: 97%;
        max-width: 97%;
        overflow: hidden;
        height: auto;

        .ruedaLg{
            position: relative;
            max-width: 100%;
            object-fit: scale-down;
        }
    }
}

.ruedaSm{
    display: none;
}

@media(max-width: 600px){
    .ruedaSm{
        display: flex;
        position: relative;
        max-width: 100%;
        object-fit: contain;
    }
    .ruedaLg{
        display: none!important;
    }

    .contacto form {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;}
}