.serviciosLeft{
    img{
        position: relative;
        width: 600px;
        top: -18%;
    }
}

.servicios{
    justify-content: space-between;
    display: flex;
    padding-right: 6.25vw;
    padding-left: 6.25vw;
    height: 90vh;
    padding-top: 25vh;
}


.serviciosRight{
    text-align: end;
    display: flex;
    width: 37.5vw;
    flex-direction: column;

    div{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    div h2{
        margin-bottom: 45px;
        width: fit-content;
        background-color: #E59F31;
        color: #1F1B34;
        font-family: 'Maven Pro', sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 98px;
        padding-left: 32px;
        padding-right: 32px;
    }

    p{
        font-family: 'Titillium Web', sans-serif;
        color: #FFFBEF;
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
    }
}