.serviciosLeft {
    img {
        position: relative;
        width: 600px;
        top: -18%;
    }
}

.servicios {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.serviciosRight {
    text-align: end;
    display: flex;
    width: 37.5vw;
    flex-direction: column;
    div {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    div h2{
        background-color: #F160BB!important;
    }
    p {
        font-family: 'Titillium Web', sans-serif;
        color: #FFFBEF;
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
    }
}

@media(max-width: 800px) {
    .servicios {
        display: none!important;
    }
}