.valores{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 165px;
}

.valoresWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8%;
}

.valor{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        width: 100%;
        text-align: center;
        font-family: Asap;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #FFFBEF;}

    img{
        width: 380px;
    }
}

.tituloValores{
    width: 100%;
    display: flex;
    justify-content: center;

    h2{
        background-color: #A68FFF;
    }}
